In [115]:
import pandas as pd
import numpy as np

In [2]:

s1=pd.Series([5,6,7,8,9])

In [3]:
s1

0    5
1    6
2    7
3    8
4    9
dtype: int64

In [4]:
s1.index

RangeIndex(start=0, stop=5, step=1)

In [5]:
s1.values

array([5, 6, 7, 8, 9], dtype=int64)

In [6]:
s1.index=["zero","one","two","three","four"]

#

In [7]:
s1

zero     5
one      6
two      7
three    8
four     9
dtype: int64

In [8]:
s1["three"]

8

In [9]:
s1[3]

8

In [10]:
s2=pd.Series([105,45,65,85,85],index=["apples","mangoes","oranges","bananas","four"])

In [11]:
s2

apples     105
mangoes     45
oranges     65
bananas     85
four        85
dtype: int64

In [12]:
s1*10

zero     50
one      60
two      70
three    80
four     90
dtype: int64

In [13]:
s2+53

apples     158
mangoes     98
oranges    118
bananas    138
four       138
dtype: int64

In [14]:
s1

zero     5
one      6
two      7
three    8
four     9
dtype: int64

In [15]:
s1
s2

apples     105
mangoes     45
oranges     65
bananas     85
four        85
dtype: int64

In [16]:
s1*s2

apples       NaN
bananas      NaN
four       765.0
mangoes      NaN
one          NaN
oranges      NaN
three        NaN
two          NaN
zero         NaN
dtype: float64

In [17]:
    s1+s2

apples      NaN
bananas     NaN
four       94.0
mangoes     NaN
one         NaN
oranges     NaN
three       NaN
two         NaN
zero        NaN
dtype: float64

In [18]:

s3=pd.Series([1,2,3,4,5])
s3

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [19]:
s4=pd.Series([6,7,8,9,0,1,2,34,5])
s4

0     6
1     7
2     8
3     9
4     0
5     1
6     2
7    34
8     5
dtype: int64

In [20]:
s3+s4

0     7.0
1     9.0
2    11.0
3    13.0
4     5.0
5     NaN
6     NaN
7     NaN
8     NaN
dtype: float64

In [21]:
s3[0:5]

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [22]:
s2

apples     105
mangoes     45
oranges     65
bananas     85
four        85
dtype: int64

In [23]:
s2["apples":"bananas"]

apples     105
mangoes     45
oranges     65
bananas     85
dtype: int64

In [24]:
s2[0:"bananas"]

TypeError: cannot do slice indexing on Index with these indexers [0] of type int

In [25]:
np.linspace(1,10,4)

array([ 1.,  4.,  7., 10.])

In [26]:
import numpy as np

In [27]:
np.linspace(0,10,4)

array([ 0.        ,  3.33333333,  6.66666667, 10.        ])

In [28]:
np.linspace(1,10,4)

array([ 1.,  4.,  7., 10.])

In [29]:
np.linspace(1,10,100)

array([ 1.        ,  1.09090909,  1.18181818,  1.27272727,  1.36363636,
        1.45454545,  1.54545455,  1.63636364,  1.72727273,  1.81818182,
        1.90909091,  2.        ,  2.09090909,  2.18181818,  2.27272727,
        2.36363636,  2.45454545,  2.54545455,  2.63636364,  2.72727273,
        2.81818182,  2.90909091,  3.        ,  3.09090909,  3.18181818,
        3.27272727,  3.36363636,  3.45454545,  3.54545455,  3.63636364,
        3.72727273,  3.81818182,  3.90909091,  4.        ,  4.09090909,
        4.18181818,  4.27272727,  4.36363636,  4.45454545,  4.54545455,
        4.63636364,  4.72727273,  4.81818182,  4.90909091,  5.        ,
        5.09090909,  5.18181818,  5.27272727,  5.36363636,  5.45454545,
        5.54545455,  5.63636364,  5.72727273,  5.81818182,  5.90909091,
        6.        ,  6.09090909,  6.18181818,  6.27272727,  6.36363636,
        6.45454545,  6.54545455,  6.63636364,  6.72727273,  6.81818182,
        6.90909091,  7.        ,  7.09090909,  7.18181818,  7.27272727,
        7.36363636,  7.45454545,  7.54545455,  7.63636364,  7.72727273,
        7.81818182,  7.90909091,  8.        ,  8.09090909,  8.18181818,
        8.27272727,  8.36363636,  8.45454545,  8.54545455,  8.63636364,
        8.72727273,  8.81818182,  8.90909091,  9.        ,  9.09090909,
        9.18181818,  9.27272727,  9.36363636,  9.45454545,  9.54545455,
        9.63636364,  9.72727273,  9.81818182,  9.90909091, 10.        ])

In [30]:
np.linspace(1,10)

array([ 1.        ,  1.18367347,  1.36734694,  1.55102041,  1.73469388,
        1.91836735,  2.10204082,  2.28571429,  2.46938776,  2.65306122,
        2.83673469,  3.02040816,  3.20408163,  3.3877551 ,  3.57142857,
        3.75510204,  3.93877551,  4.12244898,  4.30612245,  4.48979592,
        4.67346939,  4.85714286,  5.04081633,  5.2244898 ,  5.40816327,
        5.59183673,  5.7755102 ,  5.95918367,  6.14285714,  6.32653061,
        6.51020408,  6.69387755,  6.87755102,  7.06122449,  7.24489796,
        7.42857143,  7.6122449 ,  7.79591837,  7.97959184,  8.16326531,
        8.34693878,  8.53061224,  8.71428571,  8.89795918,  9.08163265,
        9.26530612,  9.44897959,  9.63265306,  9.81632653, 10.        ])

In [31]:
s1.count()

5

In [32]:
s1.value_counts()

5    1
6    1
7    1
8    1
9    1
dtype: int64

In [33]:
s5=pd.Series([50,45,12,85,69,74],index=['umer','hasan','faiz','rameez','ali','usman'])

In [34]:
s5=s5.apply(lambda a: np.where(a<50,'fail','pass'))

In [35]:
s5.value_counts()

pass    4
fail    2
dtype: int64

In [36]:
s6=pd.Series([1,2,5,8,9,np.nan,np.nan])

In [37]:
s6

0    1.0
1    2.0
2    5.0
3    8.0
4    9.0
5    NaN
6    NaN
dtype: float64

In [38]:
np.random.rand(50)

array([0.02455709, 0.71193957, 0.79211144, 0.42096551, 0.94006906,
       0.46944753, 0.37377486, 0.93451244, 0.59193624, 0.77858064,
       0.17189639, 0.75771109, 0.74013043, 0.35255831, 0.7333226 ,
       0.40284161, 0.32527268, 0.50051193, 0.96393555, 0.8985789 ,
       0.08847988, 0.97898366, 0.10592568, 0.40340443, 0.65571775,
       0.10764389, 0.39013256, 0.48234726, 0.93522419, 0.42179162,
       0.07524538, 0.79681195, 0.18230263, 0.22681379, 0.59462328,
       0.52153249, 0.66824783, 0.62681162, 0.7326783 , 0.91590488,
       0.44433974, 0.80380613, 0.86258178, 0.74134153, 0.24809893,
       0.26439003, 0.2367248 , 0.31092342, 0.04258268, 0.93246059])

In [39]:
np.random.seed(1)
u1=pd.Series(np.random.randn(3))
u2=pd.Series(np.random.randn(4))

#

In [40]:
u1

0    1.624345
1   -0.611756
2   -0.528172
dtype: float64

In [41]:

u2

0   -1.072969
1    0.865408
2   -2.301539
3    1.744812
dtype: float64

In [42]:
A

NameError: name 'A' is not defined

In [43]:
combined[0]

NameError: name 'combined' is not defined

In [44]:
combined

NameError: name 'combined' is not defined

In [45]:

combined.reset_index()

NameError: name 'combined' is not defined

In [46]:
combined[0]

NameError: name 'combined' is not defined

In [47]:
combined

NameError: name 'combined' is not defined

In [48]:
newcom=combined.copy()

NameError: name 'combined' is not defined

In [49]:
newcom[0:6]=100

NameError: name 'newcom' is not defined

In [50]:
newcom

NameError: name 'newcom' is not defined

In [51]:
combined

NameError: name 'combined' is not defined

In [52]:
newcom[0]

NameError: name 'newcom' is not defined

In [53]:
newcom[[0,1,9]]

NameError: name 'newcom' is not defined

In [54]:
del combined[3]

NameError: name 'combined' is not defined

In [55]:
combined

NameError: name 'combined' is not defined

In [56]:
del combined[2]

NameError: name 'combined' is not defined

In [57]:
 combined

NameError: name 'combined' is not defined

In [58]:
np.random.seed(1)
u1=pd.Series(np.random.randn(3))
u2=pd.Series(np.random.randn(4))

In [59]:
combined=pd.concat([u1,u2])

In [60]:
combined

0    1.624345
1   -0.611756
2   -0.528172
0   -1.072969
1    0.865408
2   -2.301539
3    1.744812
dtype: float64

In [61]:
combined.reset_index()

   index         0
0      0  1.624345
1      1 -0.611756
2      2 -0.528172
3      0 -1.072969
4      1  0.865408
5      2 -2.301539
6      3  1.744812

In [62]:
combined

0    1.624345
1   -0.611756
2   -0.528172
0   -1.072969
1    0.865408
2   -2.301539
3    1.744812
dtype: float64

In [63]:
com=combined.copy()

In [64]:
com

0    1.624345
1   -0.611756
2   -0.528172
0   -1.072969
1    0.865408
2   -2.301539
3    1.744812
dtype: float64

In [65]:
del combined[0]

In [66]:



combined

1   -0.611756
2   -0.528172
1    0.865408
2   -2.301539
3    1.744812
dtype: float64

In [67]:
com

0    1.624345
1   -0.611756
2   -0.528172
0   -1.072969
1    0.865408
2   -2.301539
3    1.744812
dtype: float64

In [68]:
new=com

In [69]:
new

0    1.624345
1   -0.611756
2   -0.528172
0   -1.072969
1    0.865408
2   -2.301539
3    1.744812
dtype: float64

In [70]:
com

0    1.624345
1   -0.611756
2   -0.528172
0   -1.072969
1    0.865408
2   -2.301539
3    1.744812
dtype: float64

In [71]:
del com[0]

In [72]:
new

1   -0.611756
2   -0.528172
1    0.865408
2   -2.301539
3    1.744812
dtype: float64

In [73]:
com

1   -0.611756
2   -0.528172
1    0.865408
2   -2.301539
3    1.744812
dtype: float64

In [74]:
#dataframe

In [75]:
students={'rolls':[1,2,3],'names':['umer','hasan','sid'],'courses':['AI','BCC','IOT']}

In [76]:
df=pd.DataFrame(students)

In [77]:
df

   rolls  names courses
0      1   umer      AI
1      2  hasan     BCC
2      3    sid     IOT

In [78]:
df['country']="pakistan"

In [79]:
df

   rolls  names courses   country
0      1   umer      AI  pakistan
1      2  hasan     BCC  pakistan
2      3    sid     IOT  pakistan

In [80]:
type(df['rolls'])

pandas.core.series.Series

In [81]:
df[['rolls','courses']]

   rolls courses
0      1      AI
1      2     BCC
2      3     IOT

In [82]:
type(df[['rolls','courses']])

pandas.core.frame.DataFrame

In [83]:
lst=[[5,1,5],[4,52,3],[89,63,20]]

In [84]:
lst

[[5, 1, 5], [4, 52, 3], [89, 63, 20]]

In [85]:
df1=pd.DataFrame(lst)

In [86]:
df1

    0   1   2
0   5   1   5
1   4  52   3
2  89  63  20

In [87]:
df2=pd.DataFrame(lst,index=[1,2,3],columns=['a','b','c'])

##

In [88]:
df2

    a   b   c
1   5   1   5
2   4  52   3
3  89  63  20

In [90]:
df2

    a   b   c
1   5   1   5
2   4  52   3
3  89  63  20

In [93]:
df2["name"]=['umer','hasan','ali']

##

##

In [94]:
df2

    a   b   c   name
1   5   1   5   umer
2   4  52   3  hasan
3  89  63  20    ali

In [95]:
age={'umer':19,'ali':20,'hasan':11}

In [98]:
df2['ages']=df2.name.map(age)

In [99]:
df2

    a   b   c   name  ages
1   5   1   5   umer    19
2   4  52   3  hasan    11
3  89  63  20    ali    20

In [101]:
df2['marks']=df2['a']

In [106]:
del df2['c']

##

In [121]:
df2

    name  ages  marks    course
1   umer    19      5  commerce
2  hasan    11      4  commerce
3    ali    20     89        AI

In [112]:
df2['course']=["AI" if mark>50 else 'commerce' for mark in df2.marks]

##

In [113]:
df2

    name  ages  marks    course
1   umer    19      5  commerce
2  hasan    11      4  commerce
3    ali    20     89        AI

In [119]:
df2['course']=df2.marks.apply(lambda x:np.where (x>50 ,'AI','commerce'))

##

In [120]:
df2

    name  ages  marks    course
1   umer    19      5  commerce
2  hasan    11      4  commerce
3    ali    20     89        AI

In [141]:
def generation(ages):
    if ages>15:
        return "young"
    else:
        return "old"

In [142]:
df2["generation"]=df2.ages.apply(generation)